@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply font-primary dark:text-white;
  }
  #root {
    @apply w-screen;
    overflow: hidden;
  }
  .height-mobile-browser {
    max-height: -webkit-fill-available;
  }
  .sidebar-room {
    height: 100%;
    max-height: calc(100vh - 64px);
  }

  .background-cat {
    background-image: url("https://i.pinimg.com/736x/aa/a2/73/aaa2733c561e6ed0098f918ceddfdc33.jpg");
  }
  ::-webkit-scrollbar:horizontal {
    height: 0;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  @media only screen and (max-width: 640px) {
    .show-sidebar {
      transform: translateX(0);
    }
    .show-main {
      transform: translateX(-100vw);
    }
    .show-profile {
      transform: translateX(-200vw);
    }
  }
}
